

.TodoCounter {
    font-size: 24px;
    text-align: center;
    margin: 0;
    padding: 48px;
    font-weight: normal;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .TodoCounter span {
    font-weight: bold;
}